@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;900&display=swap');


:root {
    --color-1: #312C43;
    --color-2: #3E3C92;
    --color-3: #002E66;
    --color-4: #FEFEFE;
    --container-padding: 2rem;
    --border-radius: 4px;
    --border: 2px solid var(--color-3);
    --box-shadow: 1px 1px 2px var(--color-1);
}

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    color: var(--color-1);

}

.material-icons {
    user-select: none;
}