.portfolios-page {
    &__breadcrumps {
        height: 8rem;
    }

    &__content {
        display: flex;

        &-aside {
            width: 25%;
            margin-right: 2rem;

            &-portfolio-list {
                list-style: none;

                &-item {
                    display: block;
                    padding: 1em;
                    text-decoration: none;
                    color: inherit;
                    border-radius: var(--border-radius);

                    &:has(+ &) {
                        margin-bottom: 0.5em;
                    }

                    &_active {
                        background-color: var(--color-2);
                        color: var(--color-4);
                    }

                    &_active, &:hover {
                        text-decoration: underline;
                    }

                }
            }

        }

        &-portfolio {
            width: 75%;
        }
    }
}