.about-section {

    margin-bottom: 2rem;

    &__header {}

    &__content {
        display: flex;
        align-items: center;

        &-text {
            width: 60%;
            text-align: justify;
            margin: 0 4rem 0 0;
        }

        &-info {
            margin-bottom: 0.25rem;
            display: flex;
            align-items: center;

            &-header {
                margin: 0;
            }

            &-text {
                margin: 0;
            }

            &-icon {
                margin-right: 1rem;
                color: var(--color-3);
            }

            &-list {
                width: 40%;
            }
        }
    }
}