.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project {
    transition: transform linear 0.2s;
    cursor: pointer;

    &:hover {
        transform: scale(105%);

        .project__img-container {
            filter: grayscale(0);
        }

        .project__name {
            text-decoration: underline;
        }
    }

    display: flex;
    width: 22.5%;
    flex-direction: column;
    border-radius: 1rem;

    height: 18rem;


    &__img-container {
        transition: filter linear 0.125s;

        background-size: cover;
        background-position: center;
        height: 100%;
        filter: grayscale(1.0);
    }

    &__name {

        text-align: center;
        color: white;
        background-color: var(--color-2);
        padding: 0.5em;
        margin: 0;
    }
}