.slider-section {
    position: relative;
}


.slider {

    white-space: nowrap;
    overflow-x: hidden;

    &__item {
        display: inline-block;
        width: 100vw;
    }

    &__img {
        height: 30rem;
        background-position: center;
        background-size: cover;
        filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='4' result='b'/%3E%3CfeMorphology operator='dilate' radius='4'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E %3C/svg%3E#a");
    }

    &__content-and-buttons {
        padding: 0 var(--container-padding);
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
    }

    &__content {
        width: 100%;
    }
}

.slider-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__header {
        color: var(--color-4);
    }

    &__text {
        color: var(--color-4);
    }
}