.slider-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__header {
        color: var(--color-4);
    }

    &__text {
        color: var(--color-4);
    }
}